body {
    width:100vw;
    height:100vh;
    padding: 0;
    margin : 0;
    display: grid;
    grid-template-rows: 10vh 90Vh 20vh;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:white;
}

/*HEADER*/

header{
    grid-row:1;
    border-bottom:1px solid white;
    background: linear-gradient(to right, #2E6F95, #455E89, #5C4D7D, #723C70, #892B64);
}

main{
    background: linear-gradient(to right, #2E6F95, #455E89, #5C4D7D, #723C70, #892B64);
}

nav{
    display : grid;
    grid-template-columns: 20% 80%;
    height:100%;
}
h1{
    margin:0;
    padding:0;
    display:grid;
    grid-column: 1;

}
header > nav > h1 > img{
    width:5rem;
    align-self :center;
    justify-self:center;
}
header > nav > ul{
    grid-column: 2;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin:0;
    padding:0;
}
header > nav > ul > li > a{
    font-size:1.2rem;
    text-decoration: none;
    color:white;
}
header > nav > ul > li{
    list-style-type: none;
    align-self:center;
    justify-self:start;
}

/*MAIN*/

main{
    display:grid;
    grid-template-rows:15% auto 15%;
    grid-template-columns: 10% auto 10%;
}

/*PRESENTATION*/
.container{
    grid-row:2;
    grid-column:2;
    display:grid;
    grid-template-columns: 33.33% auto 33.33%;
    grid-template-rows:50% 50%;
}
.container h2{
    font-family:'Cabin', sans-serif;
    font-size:6rem;
    font-weight:700;
    margin:0;
}
.container > section:first-of-type p{
    font-family:'Cabin', sans-serif;
    font-size:3.5rem;
    font-weight:700;
    margin:0;
}


.container > section:first-of-type{
    align-self:center;
}

.container > section:nth-of-type(2){
    grid-column:3/4;
    align-self:center;
    justify-self:center;
}

.container img{
    width:10rem;
}

.projets {
    grid-row:2;
    grid-column:1/4;
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px
}

.projets > p{
    grid-row:1;
    grid-column:1/4;
    align-self:end;
    font-family:'Cabin', sans-serif;
    font-size:2.5rem;
    font-weight:700;
}

.projets > section > h3{
    font-family:'Cabin', sans-serif;
    font-size:1.7rem;
    font-weight:700;
}
.projets > section > h3{
    font-family:'Cabin', sans-serif;
    font-size:1.3rem;
    font-weight:600;
}

.projets > section > a {
    text-underline-offset: 0.25rem;
    color:white;
}

.projets > section {
    background-color:  #b7094c;
    gap: 10px;
    padding:20px 10px;
}
